
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --sl-color-primary-50: var(--sl-color-violet-50);
  --sl-color-primary-100: var(--sl-color-violet-100);
  --sl-color-primary-200: var(--sl-color-violet-200);
  --sl-color-primary-300: var(--sl-color-violet-300);
  --sl-color-primary-400: var(--sl-color-violet-400);
  --sl-color-primary-500: var(--sl-color-violet-500);
  --sl-color-primary-600: var(--sl-color-violet-600);
  --sl-color-primary-700: var(--sl-color-violet-700);
  --sl-color-primary-800: var(--sl-color-violet-800);
  --sl-color-primary-900: var(--sl-color-violet-900);
  --sl-color-primary-950: var(--sl-color-violet-950);

  --main-color: #5e11fd;

  --accent-fill-rest: #5e11fd;
  --accent-stroke-control-rest: #5e11fd;

  --sl-panel-background-color: var(--theme-color);

}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* height: 100vh; */

  overflow-y: hidden;

  -webkit-tap-highlight-color: transparent;
}


html::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* background: linear-gradient(117deg, #202020, #8769dc 71%, #202020 89%); */
    background: #272731;
  }

  html[data-theme="fluent"], html[data-theme="fluent"] body {
    --theme-color: #272731;
    color: white;
    --neutral-foreground-rest: white;
    background-color: #272731; !important;
  }

  /* html[data-theme="fluent"] {
    background: linear-gradient(117deg, rgba(32,32,32,1) 0%, rgba(94,17,253,1) 71%, rgba(32,32,32,1) 89%);
  } */

  html[data-theme="fluent-darker"], html[data-theme="fluent-darker"] body {
    --theme-color: #242424e3;
    color: white;
    background-color: var(--theme-color);

    --neutral-foreground-rest: white;
  }

  html[data-theme="pastel"], html[data-theme="pastel"] body {
    --theme-color: #19112ec4;
    color: white;
    background-color: var(--theme-color);

    --neutral-foreground-rest: white;
  }
}

@media (prefers-color-scheme: light) {
  html[data-theme="fluent"], html[data-theme="fluent"] body {
    --theme-color: #1e1e1e0f;
    --neutral-foreground-rest: black;
    background-color: #f4f4f4;
  }

  html[data-theme="fluent-darker"], html[data-theme="fluent-darker"] body {
    --theme-color: #1e1e1e0f;
    background-color: var(--theme-color);
    --neutral-foreground-rest: black;
  }

  html[data-theme="pastel"], html[data-theme="pastel"] body {
    --theme-color: #6c49cb36;
    background-color: var(--theme-color);
    --neutral-foreground-rest: white;
  }

  :root {
    --sl-panel-background-color: white;
  }

}