:host {
    display: block;
}

fluent-button,
fluent-text-area,
fluent-listbox,
fluent-card,
fluent-progress-ring {
    --accent-fill-rest: #8769dc;
    --accent-stroke-control-rest: #8769dc;
    --accent-fill-active: #8769dc;
    --accent-stroke-control-active: #8769dc;
    --accent-fill-hover: #8769dc;
    --accent-stroke-control-hover: #8769dc;
}



main {
    height: calc(100vh - env(titlebar-area-height, 30px));
}

#regen-button::part(control) {
    background: #ffffff0f;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

#image-input-outer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    top: 30px;
    display: initial;
    right: initial;
}

#generated-buttons {
    position: fixed;
    left: 0;
    right: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    top: 55px;

    animation: quickup 0.3s ease-in-out;
}

fluent-button,
fluent-text-field,
fluent-listbox,
fluent-card,
fluent-anchor {

}

#image-input-block {
    display: flex;
    flex-direction: column;

    bottom: 8px;
    right: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;

    gap: 8px;

    width: 22vw;
    height: 90vh;
    border-radius: 8px;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);


    animation: quickup 0.3s ease;
}

#actions-block {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    flex-direction: column;
}

#cancel-link {
    background: #ffffff0f;
}

#image-input-block fluent-text-area {
    flex: 1;
}

#image-input-inner {
    display: flex;
    align-items: center;
    gap: 8px;

    flex-direction: column;

    margin-top: 18px;
}

#image-input-inner fluent-button {
    align-self: end;
    margin-bottom: 1px;
}

#image-input-inner fluent-text-area {
    width: 100%;
}

#image-input-block fluent-button img {
    width: 24px;
    height: 24px;
    margin-top: 6px;
}

.quick-actions fluent-button {
    width: 100%;
}

.quick-actions fluent-button::part(control) {
    background: #202020;
}

.quick-actions p {
    margin: 0;
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 18px;
    font-weight: bold;
}

.generation-block {
    background: #ffffff1f;
    padding: 8px;
    border-radius: 8px;
}

#quick-styles p {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 8px;
}

fluent-text-area {
    border-radius: 8px;
}

fluent-text-area::part(root) {
    height: 2.8em;
}

#image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;

    flex-direction: column;
    gap: 8px;

    margin-left: 216px;
    width: initial;
}

#upload-button {
    width: 100%;
}

#image-block h2 {
    font-weight: bold;
    font-size: 38px;
    width: 472px;
    color: #8769dc;
    font-size: 54px;
    margin-top: 18px;
    text-wrap: pretty;
    text-shadow: #8769dc82 2px 2px;

    view-transition-name: greeting-caption;
}

#generating-spinner {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    position: fixed;
    top: 10px;
    right: 40vw;
    left: 40vw;
    z-index: 9999999;
    background: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 14px;

    animation: quickDown 0.5s ease;
}

#generating-spinner fluent-progress-ring {
    width: 16px;
    height: 16px;
}

#style-buttons {
    gap: 8px;

    display: grid;

    grid-template-columns: auto auto;
}

#style-buttons fluent-button.selected::part(control) {
    background: #8769dc;
}

#image-block img {
    max-width: 68vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #202020;
    animation: fadein 0.3s ease-in-out;
}

#upgrade-link {
    --accent-fill-rest: #8769dc;
    --accent-stroke-control-rest: #8769dc;
    --accent-fill-active: #8769dc;
    --accent-stroke-control-active: #8769dc;
    --accent-fill-hover: #8769dc;
    --accent-stroke-control-hover: #8769dc;
}

.upgrade-dialog h2 {
    margin-top: 0;
}

@media(prefers-color-scheme: dark) {
    fluent-text-area {
        background: var(--theme-color);
    }

    fluent-text-area::part(control) {
        background: #202020;
        color: white;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    }

    fluent-button img {
        filter: invert(1);
    }
}

@media(prefers-color-scheme: light) {

    #generating-spinner {
        background: rgb(219 219 219);
    }

    .generation-block {
        background: #00000014;
    }

    #generating-spinner {
        color: black;
    }

    #quick-styles fluent-button::part(control) {
        background: #8769dc;
        color: white;
    }

    fluent-text-area {
        background: white;
    }

    #image-block img {
        box-shadow: 0px 0px 18px 0px #202020a1;
    }

    .quick-actions fluent-button::part(control) {
        background: white;
    }

    .quick-actions fluent-button.selected::part(control) {
        color: white;
    }

    #image-input-block fluent-button img {
        filter: invert(1);
    }
}

@media(max-width: 800px) {
    #image-input-block {
        position: fixed;
        width: initial;
        left: 8px;

        height: initial;
    }

    #image-block {
        margin-top: 2vh;
        margin-left: 10px;
    }

    #image-block h2 {
        width: 82%;
    }

    #image-block img {
        width: 90vw;
    }

    #generated-buttons {
        justify-content: center;
        top: 36px;
        right: 0;
    }

    #generating-spinner {
        left: 10vw;
        right: 10vw;
        top: 40px;
    }
}

@keyframes quickup {
    from {
        transform: translateY(30%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes quickDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}